*,
*::before,
*::after
{
	box-sizing: border-box ;
	font: inherit ;
	color: inherit ;
	padding: 0 ;
	margin: 0 ;
	text-align: inherit ;
}

html,
body
{
	height: 100% ;
}

html
{
	font-size: 16px ;
	text-align: left ;

	@media (min-width: 320px)
	{
		font-size: calc((100vw / 320) * 16) ;
	}

	@media (min-width:375px)
	{
		font-size: calc((100vw / 375) * 16) ;
	}

	@media (min-width:768px)
	{
		font-size: calc((100vw / 768) * 16) ;
	}

	@media (min-width:1024px)
	{
		font-size: calc((100vw / 1024) * 16) ;
	}

	@media (min-width:1440px)
	{
		font-size: calc((100vw / 1440) * 16) ;
	}

	@media (min-width:1920px)
	{
		font-size: calc((100vw / 1920) * 16) ;
	}

	@media (min-width: 2560px)
	{
		font-size: 24px ;
	}
}

body
{
	background: #fff ;
	color: #000 ;
	font-size: calc(1rem) ;
	padding: 1em ;
	display: flex ;
	flex-direction: column ;

	@media (prefers-color-scheme: dark)
	{
		background: #000 ;
		color: #fff ;
	}
}

.monospace
{
	font-family: system-monospace ;
}

header > nav,
h1
{
	font-size: calc(((3rem - 1.5rem) / 6) * 6) ;
}

h2
{
	font-size: calc(((3rem - 1.5rem) / 6) * 5) ;
}

h3
{
	font-size: calc(((3rem - 1.5rem) / 6) * 4) ;
}

h4
{
	font-size: calc(((3rem - 1.5rem) / 6) * 3) ;
}

h5
{
	font-size: calc(((3rem - 1.5rem) / 6) * 2) ;
}

h6
{
	font-size: calc(((3rem - 1.5rem) / 6) * 1) ;
}

header,
.view > .album,
.view > ocremix-track-queue,
.view > ol
{
	z-index: 2 ;
}

header
{
	padding-bottom: 1rem ;
	display: flex ;
	position: sticky ;
	top: 1rem ;

	nav
	{
		margin-left: 1rem ;
		font-size:
	}

	a
	{
		text-decoration: none ;
	}

	.disabled,
	:disabled
	{
		visibility: hidden ;
	}
}

main
{
	flex-grow: 1 ;
	justify-content: flex-start ;
	align-content: flex-start ;
}

audio
{
	width: calc(100% - 2rem) ;
	position: fixed ;
	bottom: 1rem ;
	left: 1rem ;
	right: 1rem ;
	z-index: 3 ;
}

button
{
	background: none ;
	border: none ;
	cursor: pointer ;
}

button:disabled,
a[download]:not([href])
{
		cursor: not-allowed ;
}

table
{
	border-collapse: collapse ;

	th,
	td
	{
		padding: .5rem ;
	}

	th
	{
		font-weight: bolder ;
	}
}

.as-button,
button,
ocremix-download-button
{
	width: 2rem ;
	height: 2rem ;
	display: inline-flex ;
	justify-content: center ;
	align-items: center ;
}

.view,
.settings
{
	.as-button,
	button
	{
		background: #000 ;
		color: #fff ;
		border: none ;

		@media (prefers-color-scheme: dark)
		{
			background: #fff ;
			color: #000;
		}
	}

	.as-button
	{
		text-decoration: none ;
	}
}
